body{
    background-color: lightgreen;
    font-size: larger;
}
h1{
    color:rgb(135, 5, 196);
    text-decoration: underline;
    text-transform: uppercase;
    font-style: oblique;
}
h2{
    color: #6a0606;
    text-decoration: underline;
    text-transform: uppercase;
}
h3{
    color: rgb(230, 23, 168);
}
pre{
    color: darkblue;
    border: 2px solid rgb(247, 124, 9);
    border-radius: 10px;
    background-color: rgb(210, 213, 61);
    padding: 10px 0px;
}
h4{
    color: darkblue;
}